@import "susy";

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0em; //$gutter-width;

$break          : 12;

@include border-box-sizing;

.main-container {
  @include container($total-columns, $break);
  //@include susy-grid-background;
}

.headerimg {
  @include span-columns(12);
}

.nav {
  @include span-columns(12);
}


@include with-grid-settings(12,4em,0em,0em) {

	.nav li {
 	 @include span-columns(2);
	}
}
.season {

  @include span-columns(12);
 // @include squish(0.5,0.5);
	}


.season_image{
	@include span-columns(1, 4);
   padding: 0px;

}

.season_description{
	@include span-columns(2, 4);
   padding: 0 1em;

}

.season_fun_links{
	@include span-columns(1 omega,4);
	padding: 0 1em;

}

@include at-breakpoint($break) {
  .main {
    //@include susy-grid-background;
  }
}
