$gray-color: #C7BFAB;
$dark-color: #8F7B5D;
$green-color: #22FF22;
$yellow-color: #EECA09;
$orange-color: #F8713C;
$blue-color: #00ABBB;

$main-color: #FFFFFF;
$nav-color: $green-color;
$season-color: $blue-color;
$season-p-color: $blue-color;
$border-color: $dark-color;