/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
*= require "_layout/grid"

*/
//$main-color : #DDEECC;
//$nav-color : #00FF99;
//$season-color : #9988FF;
//$season-p-color : #EE44EE;

@import "defs";

ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

#nav {
      a{
        color: $blue-color;
        font-family: "Comic Sans MS";
        font-size: 20pt;
        &:hover{color: $green-color;}
      }
  li {
      text-color:red;
      padding: 20px 0;
      text-align: center;
      &:hover{
        background-image:url('/images/heart.gif');
        //background-image: url('/images/screech.png');
        background-size: 100%  100%;
      }

  }
  .screech{

    &:hover{
      text-indent:-2000px;
      background-image:url('/images/screech.png');
      background-size: 100% 100%;
    }

  }
}



.left {
  float: left;
}

.main-container {
  background: $main-color;
}

.season {
  background: $season-color;
  //border-style: solid;
  // border-width: 3px;

  border-top: 1px solid $border-color;
  padding: 1em;

  p {
    background: $season-p-color;
    text-align: left;
    margin: 0em 0em;
  }
}



