- data.season.season.each do |season|

  .season
    %img.season_image{src: season.img_link}
    %p.season_description= season.description
    %p.season_fun_links
      %a{:href => season.amazon_link} Buy on Amazon.
      %a{:href => season.fun_link} Fun button!
      stuff