%h1 Saved by the Bell ROCKS!

.season
	%h2 Season 1
	%img.left(src="images/sbtb.jpg")
	%p Season one was so super good, you guys. Season one was so super good, you guys.Season one was so super good, you guys.Season one was so super good, you guys.Season one was so super good, you guys.Season one was so super good, you guys.Season one was so super good, you guys.Season one was so super good, you guys.Season one was so super good, you guys.Season one was so super good, you guys.Season one was so super good, you guys.Season one was so super good, you guys.Season one was so super good, you guys.Season one was so super good, you guys.vSeason one was so super good, you guys.
	.clearfix

/Comment!
	
- @person = data.people.people[0]
Name: #{@person.nick_name}
Full Name: 
= @person.full_name
Description: 
= @person.long_desc
